html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* index html */
#formLogin{
    width: 400px;
    margin: auto;
}

/* headers inicios */
#nav-lider,
#nav-repre{
    background-image: url(/Ciclo3_Programacion/CodigoProyecto/FrontEnd/assets/img/bannertullave.png);
    height: 100px;
}

#titulo_banner{
    color: white;
}